section, button{
    all: unset;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    width: 27%;
    height: 45em;
    margin: 2em auto 0 auto;
    background-color: #b4b4b4;
    border: 0.125em solid black;
    border-radius: 20px;
}

.display{
    display: flex;
    width: 85%;
    background-color: white;
    flex: 1;
    margin: 3em auto 3em auto;
    border: 0.5px solid black;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1em;
}

.buttons{
    display: flex;
    flex: 7
}

.digitCont{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.line{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em 0 2em;
}

.col{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40%;
    width: 20%;

    border: solid 1px black;
    border-radius: 1em;
    background-color: lightblue;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}